body{
	margin-top: 40px;
}
@font-face{
	font-family: Woodshop;
	src: url('../fonts/Woodshop-Regular.otf');
	font-weight: normal;
  	font-style: normal;
}
.flowers{
	width:193px;
}
header{
	text-align:center; position:relative;
}
header img{
	position:relative; width:660px; left:50%; margin-left:-580px; max-width:none;
	margin-top: -40px;
}
.calavera{
	margin-top:-120px;
	width: 376px;
	height: 376px;
	display: inline-block;
}
.calavera img{
	max-width: 320px;
}
.align-right{
	text-align:right;
}
footer{
	text-align:center;
}
.controls h3{
	color: #767676;
	font-size: 13px;
	font-weight: 300;
	text-align: center;
	margin: 25px 0px 10px;
	line-height: 16px;
}
.controls .advice{
	color:#d73e92;
}
.controls ul{
	list-style: none;
	margin: 0;
	text-align: center;
}
.controls li{
	display: inline-block;
}
.colors li + li{
	margin-left: 30px;
}
.colors i{
	width: 30px;
	height: 30px;
	display: inline-block;
	cursor: pointer;
}
.colors i.c1{
	background: #fcd800;
}
.colors i.c2{
	background: #248eac;
}
.colors i.c3{
	background: #844291;
}
.colors i.c4{
	background: #c32127;
}

.colors i.b1{
	background: #61af20;
}
.colors i.b2{
	background: #c87926;
}
.colors i.b3{
	background: #b81817;
}
.colors i.b4{
	background: #fff;
	border:1px solid #4d4d4d;
	width: 28px;height: 28px;
}
.colors i.b5{
	background: #4c4c4c;
}
.form{
	text-align: center;
	margin-top: 35px;
}
.form input, .form i{
	display: inline-block;
}
.form input{
	width: 190px;
	height: 28px;
	background: url("../img/input.png");
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0;
	border: 0;
	box-shadow: none;
	text-align: center;
	color: #fff;
	font-family: Woodshop;
	color: #f2499c;
}
.form input:focus{
	box-shadow: none;
}
.form input:hover{
	box-shadow: none;
}
.form button{
	background: url("../img/ok.png");
	background-repeat: no-repeat;
	background-position: left top;
	width: 96px;
	height: 48px;
	padding: 0;
	border: 0;
}
.button{
	position: relative;
	text-align: center;
}
.button a{
	position: absolute;
	display: block;
	background: url("../img/arrows.png");
	background-repeat: no-repeat;
	width: 9px;
	height: 18px;
	top: 40px;
}
.button a.left{
	background-position: left;
	left: -15px;
}
.button a.right{
	background-position: right;
	right: -20px;
}
.wait{
	display: none;
}
.wait.show{
	display: block;
}
#buttons{
	min-height: 210px;
}
.text{
	font-family: Woodshop;
	position: absolute;
    left: 200px;
    top: 20px;
    color: #f1bf7f;
    font-size: 25px;
    width: 150px;
    text-align: center;
}
.text span{
	letter-spacing: -7px;
	position: absolute;
	transform-origin: bottom center;
	-webkit-transform-origin: bottom center;
	-moz-transform-origin: bottom center;
	-ms-transform-origin: bottom center;
	-o-transform-origin: bottom center;
}
.text.afro span{
	width: 30px;
	height: 190px;
	left: 0;
	top: 0;
}
.text.ciclista{
	left: 130px;
	top: 35px;
}
.text.ciclista span{
	height: 200px;
	left: 0px;
	top: -50px;
	width: 20px;
	transform: rotate(0deg) !important;
	-webkit-transform: rotate(0deg) !important;
	-moz-transform: rotate(0deg) !important;
	-ms-transform: rotate(0deg) !important;
	-o-transform: rotate(0deg) !important;
	position: relative;
	letter-spacing: 0 !important;
}
.text.deportista span{
	width: 30px;
	height: 190px;
	left: 0;
	top: 0;
}
.text.deportista{
	top: -62px;
	left: 220px;
}
.text.emo span{
	width: 30px;
	height: 190px;
	left: 0;
	top: 0;
}
.text.emo{
	top: -92px;
	left: 195px;
}
.text.fresa span{
	width: 30px;
	height: 190px;
	left: 0;
	top: 0;
}
.text.fresa{
	top: -32px;
	left: 205px;
}
.text.hipster span{
	width: 30px;
	height: 190px;
	left: 0;
	top: 0;
}
.text.hipster{
	top: -32px;
	left: 193px;
}
.text.rapero span{
	width: 30px;
	height: 190px;
	left: 0;
	top: 0;
}
.text.rapero{
	top: -39px;
	left: 205px;
}
.text.rasta span{
	width: 30px;
	height: 190px;
	left: 0;
	top: 0;
}
.text.rasta{
	top: -28px;
	left: 209px;
}
.text.rockera span{
	width: 30px;
	height: 190px;
	left: 0;
	top: 0;
}
.text.rockera{
	top: -65px;
	left: 230px;
}
.text.seniora span{
	width: 30px;
	height: 190px;
	left: 0;
	top: 0;
}
.text.seniora{
	top: -70px;
	left: 180px;
}
.text .ch1{
	transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
}
.text .ch2{
	transform: rotate(-9deg);
	-webkit-transform: rotate(-9deg);
}
.text .ch3{
	transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
}
.text .ch4{
	transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
}
.text .ch5{
	transform: rotate(9deg);
	-webkit-transform: rotate(9deg);
}
.text .ch6{
	transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
}

.ciclista.morada{
	color: #fff;
}
.ciclista.amarilla{
	color: #b81817;
}
.ciclista.aqua{
	color: #fff;
}
.ciclista.roja{
	color:#fff; 
}
.deportista{
	color: #fff;
}
.emo.roja{
	color: #b81817;
}
.emo.morada, .emo.aqua, .emo.amarilla{
	color: #844291;
}
.fresa{
	color: #fff;
}
.fresa.amarilla{
	color: #844291;
}
.hipster.morada{
	color: #844291;
}
.hipster.roja{
	color: #b81817;
}
.hipster.aqua{
	color: #248eac;
}
.hipster.amarilla{
	color: #fcd800;
}
.rapero{
	color: #fff;
}
.rasta.amarilla{
	color: #b81817;
}
.rasta.aqua{
	color: #844291;
}
.rasta.morada{
	color: #fff;
}
.rasta.roja{
	color: #61af20;
}
.rockera.amarilla{
	color: #b81817;
}
.rockera.aqua{
	color: #248eac;	
}
.rockera.morada, .rockera.roja{
	color: #fff;
}
.seniora.amarilla{
	color: #b81817;
}
.seniora.aqua{
	color: #844291;
}
.seniora.morada{
	color: #f1b247;
}
.seniora.roja{
	color: #f1b247;
}
#social{
	text-align: center;
	display: none;
}
.avatars{
	height: 154px;
	width: 400px;
	display: inline-block;
	background: url("../img/floral.png");
	margin-bottom: 50px;
	position: relative;
	margin-top: 300px;
}
.avatars h3, .avatars h4{
	color: #d93184;
	font-family: Woodshop;
	font-weight: normal;
}
.avatars h3{
	font-size: 18px;
	margin-bottom: 0px;
}
.avatars ul{
	list-style: none;
	margin: 0;
	text-align: center;
	margin-bottom: 20px;
}
.avatars li{
	padding: 0;
	display: inline-block;
}
.avatars li + li{
	margin-left: 50px;
}
.avatars li a{
	display: inline-block;
	background: url("../img/social.png");
	width: 44px;
	height: 53px;
}
.avatars li a.twitter{
	background-position: -1px 0;
}
.avatars li a.facebook{
	background-position: -46px 0;
}
.avatars h4{
	margin: 0;
	font-size: 15px;
}
.avatars .purple{
	color: #7f50a7;
}
.avatars a{
	color: #7f50a7;
}
.avatars li a:hover{
	box-shadow: -2px -2px 3px 1px #d7c6e6; 
}
#image{
	max-width: 350px;
	position: absolute;
	top: -420px;
	left: 30px;
}
body > section{
	margin-top: 60px;
}
.aux-header{
	display: none;
}
.message{
	margin-top: 20px;
	text-align: center;
	color: rgb(118, 118, 118);
	font-size: 12px;
	font-weight: 300;
	text-align: center;
	line-height: 16px;
}
@media (max-width: 1200px) and (min-width: 980px){
	header img{
		width: 500px;
		margin-left: -480px;
	}
	.calavera{
		margin-top: -80px;
		width: 276px;
		height: 276px;
		display: inline-block;
	}
	.calavera img{
		max-width: 250px;
	}
}
@media (max-width: 978px) and (min-width: 768px){
	.calavera{
		margin-left: -65px;
	}
	.button a.left{
		left: -85px;
	}
	.button a.right{
		right: -100px;
	}
	.colors li + li {
		margin-left: 10px;
	}

}
@media (max-width: 978px){
	header{
		display: none;
	}
	body > section{
		margin-top: 20px;
	}
	.flowers{
		display: none;
	}
	.aux-header{
		display: block;
	}
	.calavera{
		margin-top: 0;
	}
	#buttons{
		margin: 0 20px;
	}
}